/* PRIMARY STYLES */

html{ font-size: 100%; height: 100%; width: 100%; overflow-x: hidden; margin: 0px;
	padding: 0px; touch-action: manipulation; }


body{ font-size: 16px; font-family: 'Poppins', serif; width: 100%; margin: 0;
	font-weight: 400; word-wrap: break-word; color: #333;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: 'Poppins', cursive; }

p{ line-height: 1.6; font-size: 1.2em; font-weight: 400; color: #777; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.2em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; line-height: 1;
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #FFA804; }

b{ font-weight: 600; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

b.max-bold{ font-weight: 700; }



/* COMMONS FOR PAGE DESIGN */

.section{ padding: 100px 0 50px; border-bottom: 1px solid #ddd; }

.section .heading{ margin-bottom: 60px; display: inline-block; }

.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
	margin: 0 auto 20px; display: block; background: #FFA804; }

.margin-t-10{ margin-top: 10px; }
.margin-t-30{ margin-top: 30px; }

.margin-b-20{ margin-bottom: 20px; }
.margin-b-30{ margin-bottom: 30px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-tb-30{ margin-top: 30px; margin-bottom: 30px; }
.margin-tb-50{ margin-top: 50px; margin-bottom: 50px; }

.font-yellow{ color: #FFA600; }

.font-semi-white{ color: #ddd; }

.font-lite-black{ color: #999; }

.center-text{ text-align: center; }



/* INTRO SECTION */

.intro-section{
	padding-top: 8%;
	padding-bottom: 5%;
	position: relative;
	background-size: cover;
	z-index: 1;
	background-image: url(../images/slider-3.jpg); }

.intro-section:before{ content:'';
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, .2); }

/* INTRO */

.intro{ color: #fff; }

.intro .profile-img{ max-width: 400px; border-radius: 5px; overflow: hidden; }

.intro .information > li{ display: block; margin: 5px 0; }

.intro .social-icons > li > a{ height: 35px; line-height: 35px; width: 35px; border-radius: 20px;
	overflow: hidden; z-index: 1; position: relative; margin: 0 5px 5px; text-align: center;
	background: #887392; color: #fff; }

.intro .social-icons > li > a:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	top: 0; z-index: -1; border-radius: 20px; background: #FFA804;
	-webkit-transition: all .2s ease; transition: all .2s ease;
	-webkit-transform: scale(0); transform: scale(0); }

.intro .social-icons > li > a:hover:after{ -webkit-transform: scale(1); transform: scale(1); }

/* WHAT_I_DO SECTION */


.line-icon{ display: block; height: 60px; width: 60px; background-size: cover; }

.icon-rocket{ background-image: url(../images/laptop.svg); background-position: 0px 0; }
.icon-cut{ background-image: url(../images/phone.svg); background-position: 120px 0; }


/* PROJECTS SECTION */

.project-section{ background: #FAF5FC; }

.project .list > li{ display: block; position: relative; margin-bottom: 10px; }

.project .list > li > span{ position: relative; padding-left: 20px; }

.project .list > li span:before{ content: ''; position: absolute; top: 50%; left: 0; height: 10px;
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #555; }


/* SKILLS SECTION */


.skills-section .expert{ margin-top: 10px; display: inline-block; padding: 1px 25px 0;
	border-radius: 5px; background: #FFAB00; color: #fff; }


/* LINE PROGRESSBAR */

.line-progress{ position: relative; padding-bottom: 25px; }

.line-progress .progressbar-text{ position: absolute; bottom: 0; right: 0; font-size: 1.1em;
	font-weight: 500; color: #777!important; }

.line-progress .progress-title{ position: absolute; bottom: 0; left: 0; color: #777; }

/* PROJECTS SECTION */

.project-section{ background: #FAF5FC; }

.project .list > li{ display: block; position: relative; margin-bottom: 10px; }

.project .list > li > span{ position: relative; padding-left: 20px; }

.project .list > li span:before{ content: ''; position: absolute; top: 50%; left: 0; height: 10px;
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #555; }



/*  FOOTER */

.copyright{ text-align: center; padding: 30px 0; background:#262626; color:#cccccc; }

.icon {
	font-size: 60px;
	color: #FFA804;
}


